html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -1px;
}
a {
  text-decoration: none;
}
.all_wrapper {
  height: 100%;
  display: flex;
}
.main_logo {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_logo img {
  cursor: pointer;
}
/* 
  사이드 메뉴
*/
.nav_wrapper {
  height: auto;
  min-width: 250px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.nav_list_wrapper {
  color: white;
  position: fixed;
  top: 0;
  height: 100%;
  width: 250px;
  background-color: white;
}
.nav_list {
  list-style: none;
  padding: 0;
  width: 150px;
  margin: auto;
  text-align: left;
  color: #cccccc;
  font-size: 15px;
  font-weight: bold;
}
.nav_list li {
  margin-bottom: 10px;
}
/* 
  about dropdown menu
*/
.about_drop {
  display: none;
  overflow: hidden;
  font-size: 11px;
}
.about_drop_visible {
  height: 100px;
  list-style: none;
  padding: 0;
}
.about_drop li {
  cursor: pointer;
  margin-bottom: 0;
  height: 25%;
  display: flex;
  align-items: center;
}
.crew_drop li:nth-child(2) {
  color: #3a2053;
}
.nav_crew {
  color: #3a2053;
}
@keyframes subMenuOn {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}
.nav_crew,
.nav_about,
.nav_service,
.nav_contact {
  cursor: pointer;
  height: 30px;
  line-height: 30px;
}
.about_drop_on {
  height: 100px;
  list-style: none;
  padding: 0;
  animation: subMenuOn 0.2s ease-in;
}

@keyframes subMenuOff {
  0% {
    height: 100px;
  }
  100% {
    height: 0px;
  }
}
.about_drop_off {
  height: 0;
  list-style: none;
  padding: 0;
  animation: subMenuOff 0.2s ease-in;
}

/* 
  crew dropdown menu
*/
.crew_drop_visible {
  height: 100px;
  list-style: none;
  padding: 0;
}
.crew_drop {
  overflow: hidden;
  font-size: 11px;
  height: 50px;
}
.crew_drop li {
  cursor: pointer;
  margin-bottom: 0;
  height: 50%;
  display: flex;
  align-items: center;
}
.nav_crew {
  cursor: pointer;
  height: 30px;
  line-height: 30px;
}
@keyframes subMenuOnCrew {
  0% {
    height: 0;
  }
  100% {
    height: 50px;
  }
}
@keyframes subMenuOffCrew {
  0% {
    height: 50px;
  }
  100% {
    height: 0px;
  }
}
.crew_drop_on {
  height: 50px;
  list-style: none;
  padding: 0;
  animation: subMenuOnCrew 0.2s ease-in;
}
.crew_drop_off {
  height: 0;
  list-style: none;
  padding: 0;
  animation: subMenuOffCrew 0.2s ease-in;
}

/*
  footer
*/
.footer {
  position: fixed;
  bottom: 0;
  height: 200px;
  width: 250px;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer div {
  text-align: left;
  font-size: 11px;
  color: #9a9a9a;
  line-height: 20px;
}

/*
  section
*/
.container {
  min-height: 100%;
  width: 1400px;
  z-index: 0;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
}
.container_wrapper {
  height: 100%;
  width: 100%;
}
.container_wrapper div {
  color: black;
}
.container_top_img {
  background-image: url(../images/bg_top.jpg);
  width: 100%;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
.container_top_bc {
  width: 100%;
  height: 100%;
  background-color: rgba(58, 32, 83, 0.7);
  display: flex;
  align-items: flex-end;
}
.container_top_bc div {
  color: white;
  font-size: 25px;
  margin-left: 50px;
  margin-bottom: 20px;
  font-weight: bold;
}
.container_subcontainer {
  width: 1400px;
  height: 100%;
}
.container_sub_section {
  width: 1020px;
  margin: auto;
}
.sub_section_a {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}

.img_a {
  border: 1px solid #efefef;
  width: 478px;
  height: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 10px 20px 10px;
}
.partner_img {
  width: 45%;
  height: 110px;
}
.partner_detail {
  width: 55%;
  height: 110px;
}
.partner_img_a div {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin: auto;
  background-image: url(../images/code.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.partner_img_b div {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin: auto;
  background-image: url(../images/dn.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.partner_com {
  font-weight: bold;
  margin: 10px 10px 20px 0;
}
.partner_name {
  font-size: 12px;
  display: flex;
  margin: 10px 10px 10px 0;
}
.partner_name div:nth-child(1) {
  width: 70px;
}
.partner_info {
  font-size: 12px;
  display: flex;
  margin: 10px 10px 10px 0;
}
.partner_info div:nth-child(1) {
  width: 70px;
}
